.profile-container-bg {
  background: #fafafa;
  padding: 30px;
  margin-bottom: 3em;
}

.profile-container {
  padding: 0;
  padding-left: 220px;
}
.profile-container .profile-container-left {
  margin-left: -250px;
  width: 220px;
  float: left;
  position: relative;
}
.profile-container .hidden-file-type {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -99999px;
}
.profile-container .upload-image-link {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  padding: 5px;
}
.profile-container .upload-image-link:hover {
  text-decoration: underline;
}
.profile-container .profile-container-left img {
  max-width: 220px;
  filter: grayscale(100%);
}
.profile-container h2 {
  margin: 0;
}
.profile-container .info p {
  margin-bottom: 5px;
}
.profile-container .about-me-read {
  font-family: Merriweather, sans-serif;
  font-size: 85%;
  margin-top: 1em;
}
.profile-container .about-me,
.profile-container .social-media {
  margin-top: 60px;
}
.profile-container h4 {
  font-weight: lighter;
  margin-top: 0;
  color: #3f51b5;
}
.profile-container p a {
  font-size: 14px;
  font-weight: lighter;
}
.profile-container p a .fa {
  width: 20px;
}
.profile-container p a:not(:hover) {
  color: #666;
  text-decoration: none;
}
